@import url('https://fonts.googleapis.com/css2? família=Noto+Sans&display=swap');

body{
    margin: 0;
    font-family: 'Noto Sans';
}

.body * {
    box-sizing: border-box;
}
.main-login{
    width: 100vw;
    height: 100vh;
    background: rgb(238, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.esquerda-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.esquerda-login > h1 {
    font-size: 3vw;
    color: rgb(12, 12, 12);
}

.direita-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: rgb(255, 208, 0);
    border-radius: 20px;
    box-shadow: 0px 10px 40px rgba(255, 136, 0, 0.863);
}

.card-login > h1 {
    color: rgb(27, 26, 26);
    font-weight: 800;
    margin: 0;
}

.imagem{
    width: 35vw;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: yellow;
    color: black;
    font-size: 12pt;
    box-shadow: 0px 10px 40px rgba(255, 136, 0, 0.863);
    outline: none;
    box-sizing: border-box;

}

.textfield > label{
    color: black;
    margin-bottom: 10px;
}

.textfield > input::placeholder{
    color:black;
}

.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color:rgb(238, 255, 0);
    background: rgba(31, 30, 30, 0.89);
    cursor: pointer;
    box-shadow: rgba(12, 12, 12, 0.89);

}

.btn-login:hover{
    background: black;
}
@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }

}

@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
    }
    .esquerda-login > h1{
        display: none;
    }
    .esquerda-login{
        width: 100%;
        height: auto;
    }
    .direita-login{
        width: 100%;
        height: auto;
    }
    .imagem{
        width: 50vh;
    }
    
    .card-login{
        width: 90%;
    }

}

